<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id = "com.phonegap.getting.started"
	version = "1.0.0">

	<name>Les carpasinivores</name>

	<description>
	</description>

	<author href=""
		email="">
          INRIA
	</author>

	<icon src="icon.png" />

        <preference name="permissions" value="none"/>

	<preference name="orientation" value="portrait" />
</widget>
